<h1>The Frugal Bite</h1>
<IMG SRC="/images/macandcheese.jpg" ALT="missing image" WIDTH=260 HEIGHT=195>

<ul id="navbar">
  <li id="posts"><%= link_to "Talk Food", posts_path %></li>
  <li id="about"><a href="/about/" title="About">About</a></li>
  <li id="contact"><a href="/contact/" title="Contact">Contact</a></li>
  <li id="feed"><a href="/feed/" title="Feed">Feed</a></li>
</ul>

 
